body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u206 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
}
#u207 {
  position:absolute;
  left:333px;
  top:10px;
  width:32px;
  height:13px;
}
#u208 {
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u209 {
  position:absolute;
  left:101px;
  top:7px;
  width:21px;
  height:15px;
}
#u210 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u211 {
  position:absolute;
  left:9px;
  top:6px;
  width:22px;
  height:17px;
}
#u212 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:169px;
  top:2px;
  width:40px;
  height:27px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u214 {
  position:absolute;
  left:36px;
  top:2px;
  width:64px;
  height:25px;
}
#u214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u215 {
  position:absolute;
  left:310px;
  top:47px;
  width:54px;
  height:28px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u216 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:6px;
  top:106px;
  width:100px;
  height:39px;
}
#u217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u218 {
  position:absolute;
  left:9px;
  top:146px;
  width:57px;
  height:22px;
  font-size:15px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u220 {
  position:absolute;
  left:76px;
  top:146px;
  width:61px;
  height:22px;
  font-size:15px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u222 {
  position:absolute;
  left:159px;
  top:145px;
  width:61px;
  height:22px;
  font-size:15px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u224 {
  position:absolute;
  left:1px;
  top:97px;
  width:375px;
  height:1px;
}
#u225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:378px;
  height:10px;
}
#u226 {
  position:absolute;
  left:2px;
  top:188px;
  width:373px;
  height:5px;
}
#u227 {
  position:absolute;
  left:2px;
  top:-6px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:9px;
  top:203px;
  width:100px;
  height:39px;
}
#u228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CC8397;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u229 {
  position:absolute;
  left:9px;
  top:242px;
  width:83px;
  height:29px;
  font-size:15px;
}
#u230 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u231 {
  position:absolute;
  left:116px;
  top:242px;
  width:85px;
  height:29px;
  font-size:15px;
}
#u232 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u233 {
  position:absolute;
  left:226px;
  top:242px;
  width:85px;
  height:29px;
  font-size:15px;
}
#u234 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u235 {
  position:absolute;
  left:9px;
  top:281px;
  width:128px;
  height:30px;
  font-size:15px;
}
#u236 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u237 {
  position:absolute;
  left:159px;
  top:281px;
  width:83px;
  height:30px;
  font-size:15px;
}
#u238 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u239 {
  position:absolute;
  left:265px;
  top:281px;
  width:85px;
  height:30px;
  font-size:15px;
}
#u240 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u241 {
  position:absolute;
  left:2px;
  top:27px;
  width:375px;
  height:1px;
}
#u242 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u244 {
  position:absolute;
  left:51px;
  top:44px;
  width:245px;
  height:37px;
  color:#999999;
}
#u245 {
  position:absolute;
  left:2px;
  top:11px;
  width:241px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u246 {
  position:absolute;
  left:122px;
  top:55px;
  width:17px;
  height:18px;
}
#u247 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u248 {
  position:absolute;
  left:256px;
  top:51px;
  width:26px;
  height:22px;
}
#u249 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u250 {
  position:absolute;
  left:16px;
  top:53px;
  width:10px;
  height:18px;
}
#u251 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
